/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/*eigen css*/
header h1 {
  font-family: didot;
  text-align: center;
  font-size: 2rem;
  margin-top: 0.25em;
}

button {
  border-style: none;
  display: inline;
}

button img {
  height: 2rem;
  width: 2rem;
}

li a {
  font-family: montserrat-light;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

li {
  padding: 1em;
}

header nav {
  display: none;
}

header nav.open {
  display: block;
  font-size: 1.25rem;
}

h2 {
  text-align: center;
  font-family: montserrat-light;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 1em;
}

main img {
	width: 100%;
	height: auto;
}

.desktop {
	display: none;
}

h3 {
	font-family: montserrat-light;
	text-align: center;
	margin: 1em;
	font-size: 1.5rem;
	text-transform: uppercase;
}

p {
	font-family: montserrat-light;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 0.25em;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.wheel:hover {
	-webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}

.aboutnoofs {
font-size: 1rem;
letter-spacing: 0;
text-transform: none;
margin: 2em;
}

.contactgegevens{
	text-align: center;
	font-family: montserrat;
	margin: 2em;
}

.contactgegevens a {
	text-decoration: none;
	color: black;
	margin: 1em;
	text-transform: uppercase;
}

.contactgegevens p {
	text-transform: none;
	letter-spacing: 0;
}

footer h1 {
	font-family: didot;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2em;
	margin-top: 2em;
}

footer a {
	text-decoration: none;
	font-family: montserrat;
	color: red;
	}

footer {
		text-align: center;
	}

footer p {
		letter-spacing: 0;
		font-size: 0.75rem;
		margin-bottom: 1.5em;
	}

.social{
	height: 2rem;
	width: 2rem;
}

@media (min-width: 35em){

	.phone {
		display: none;
	}

	.desktop {
		display: block;
	}

	button img {
		display:none;
	}

	header nav {
		display: block;
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.wheels {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	section img {
		margin: 1.5em;
		height: 15rem;
		width: auto;
	}

	.over {
		display: flex;
		justify-content: space-evenly;
	}

	.aboutnoofs {
		margin: auto;
		padding: 2rem;
	}
}
